<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
    <script src="./js/index.js"></script>
    <title>Index</title>
  </head>
  <body>
    <header class="header aligner">
      <div class="word">
        <span>C</span>
        <span>F</span>
        <span>G</span>
      </div>
      <h1 class="vertical-item">Context Free Grammar to Normal Forms</h1>
      <h3>
        <small class="text-muted"
          >An algorithm that transforms any context free grammar to it's Chomsky's normal form
        </small>
      </h3>
      <hr class="my-4" />
    </header>
    <div class="wrapper aligner content">
      <div class="card border-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">file.txt</div>
        <div class="card-body">
          <h4 class="card-title">File Syntax</h4>
          <p class="card-text">
            1 S --> U | V <br />
            2 U --> TaU | TaT | UaT <br />
            3 V --> TbV | TbT | VbT <br />
            4 T --> aTbT | bTaT | λ
          </p>
        </div>
      </div>
      <p>Please upload a file for normalization. Use the sintax specified in below.</p>
      <form action="/result" method="post" class="aligner" enctype="multipart/form-data">
        <div class="input-file-container">
          <canvas id="imageCanvas"></canvas>
          <input class="input-file" id="my-file" type="file" name="cfg" />
          <label tabindex="0" for="my-file" class="input-file-trigger">Select a file</label>
        </div>
        <p class="file-return vertical-item"></p>
        <button type="submit" class="btn btn-primary vertical-item">Submit</button>
      </form>
    </div>
  </body>
</html>
